.primaryContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: yellow;
}

.primaryButton {
  /* display: inline-block;
  margin: 0 auto; */
  box-sizing: border-box;
  width: 50%;
  text-align: left;
  color: blueviolet;
  font-weight: 500;
  font-size: 1.5rem;
}
